node_modules/
client/node_modules/
server/node_modules/
client/dist/
server/dist/
server/data/
.DS_Store

.env
.env.*
!.env.example
!.env.sample

server/.env
server/.env.*
!server/.env.example

client/.env
client/.env.*
!client/.env.example

*.pem
*.p12
*.key
