node_modules/
client/dist/
server/dist/
server/data/
.dist/
.DS_Store

.env
.env.*
!.env.example
!.env.sample

server/.env
server/.env.*
!server/.env.example
!.env.sample

client/.env
client/.env.*
!client/.env.example
!.env.sample

*.pem
*.p12
*.key